<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生的列表项</title>
    <!--<link rel="stylesheet" href="/element-ui-2.13.2.css">-->
    <script src="/vue.js"></script>
    <!--<script src="/element-ui-2.13.2.js"></script>-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/axios.min.js"></script>
</head>
<body>
<div id="app">
    <template>
        <!--搜素框-->
        <div>
            <el-select v-model="sysLog.eventType" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>

            <!--模糊查询-->
            <el-input v-model="sysLog.categoryId" placeholder="请输入种类编号" style="width: 20%"></el-input>

            <!--日期时间-->
            <!--<el-date-picker-->
                    <!--v-model="sysLog.eventTime"-->
                    <!--type="datetimerange"-->
                    <!--range-separator="至"-->
                    <!--start-placeholder="开始日期"-->
                    <!--end-placeholder="结束日期">-->
            <!--</el-date-picker>-->


            <el-button type="primary" round @click="searchBtn">搜索</el-button>
        </div>

        <div>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="userSession"
                    label="用户Session"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="eventType"
                    label="事件类型"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="categoryId"
                    label="种类编号">
            </el-table-column>
            <el-table-column
                    prop="userId"
                    label="用户编号">
            </el-table-column>
            <el-table-column
                    prop="productId"
                    label="产品编号">
            </el-table-column>
            <el-table-column
                    prop="addressName"
                    label="地址">
            </el-table-column>
            <el-table-column
                    prop="eventTime"
                    label="事件时间">
            </el-table-column>
        </el-table>
        </div>

        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>
    </template>
</div>

<script>
    var vm = new Vue({
        el:"#app",
        data:{
            tableData: [],
            currentPage: 1,
            page:1,
            limit:10,
            total:0,

            options: [{
                //value 对应的是数据库的值名
                value:'view',
                label:'view'
            }, {
                value:'purchase',
                label:'purchase'
            }, {
                value:'cart',
                label:'cart'
            }],




            sysLog:{
                eventType:'',
                categoryId:'',
                eventTime:''
            }
        },

        methods:{
            //搜索
            searchBtn:function(){
                console.log("发送axios......")
                this.loadTable(this.page,this.limit);
            },

            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.loadTable(this.page,val);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.loadTable(val,this.limit); //页面
            },
            loadTable:function(page,limit){
                axios.get("/sysLog/selectPageAll", {
                    params:{
                        page:page,
                        limit:limit,
                        eventType:this.sysLog.eventType,
                         categoryId:this.sysLog.categoryId,
                        //eventTime:this.sysLog.eventTime,
                    }
                }).then(res=>{
                    console.log(res)
                    //把json数组赋值给tableData
                    this.tableData=res.data.data.list;
                this.total=res.data.data.total;
            });
            }
        },
        created(){
            this.loadTable(this.page,this.limit);
        }
        // created:function () {
        //     //页面一加载就要访问url  /student/selectAll
        //     axios.get("/sysLog/selectAll").then(res=>{
        //         console.log(res)
        //         //把json数组赋值给tableData
        //         this.tableData=res.data.data
        //     });
        // }
    })
</script>

</body>
</html>